.movieDetailsPage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #f4f4f4; */
}

.goBackBtn {
  padding: 10px 20px;
  background-color: #007bff;
  /* color: white; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.goBackBtn:hover {
  background-color: #0056b3;
}

.movieDetails {
  display: flex;
  gap: 20px;
  /* background-color: white; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.poster {
  max-width: 300px;
  border-radius: 8px;
  object-fit: cover;
}

.details {
  max-width: 800px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.releaseDate {
  font-size: 1rem;
  color: #777;
  margin-bottom: 20px;
}

.overview {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
}

.additionalInfo {
  margin-top: 20px;
  padding: 15px;
  /* background-color: #f8f8f8; */
  border-radius: 8px;
  text-align: center;
}

.additionalInfo h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.navLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.navLinks li {
  display: inline-block;
}

.navLinks a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navLinks a:hover {
  color: #0056b3;
}
